@import "utils/_libs";
@import "utils/_vars";
@import "utils/_mixins";
@import "utils/_fonts";
@import "utils/_media";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.d-none {
  display: none;
}

.flex {
  display: flex;
}

.opasity-0 {
  opacity: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  &__body {
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    align-items: center;
    width: 170px;

    img {
      margin-right: 10px;
    }
  }

  &__menu {
    align-items: center;
    justify-content: center;
  }

  &__left {
    align-items: center;
  }
}

.logo {
  &__text {
    color: grey;
    padding-top: 10px;
  }
}

.menu {
  &__item {
    margin-right: 30px;

    &:nth-child(3) {
      margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-bottom: 3px solid #800000;
      transition: all 0.3s;
    }
  }

  &__all {
    margin-left: 40px;
  }
}

.main {

  &__body {
    margin-top: 30px;
  }

  &__aside {
    flex-direction: column;

    form {
      flex-direction: column;
    }
  }
}

.slider {
  height: calc(100vh - 180px);
  width: 100%;
  color: #fff;
  // max-width: 1440px;

  &__current {
    width: 80%;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: 1s;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    flex-direction: column;
    justify-content: space-between;
    background-color: #800000;

    img {
      @include size(75px);
      margin-right: 10px;
    }
  }

  &__item {
    font-size: 18px;
    padding: 15px;
    transition: 1s;
    cursor: pointer;
    // display: flex;
    // justify-content: space-between;

    &-active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__date {
    font-size: 14px;
    // width: 100px;
    white-space: nowrap;
    align-self: flex-end;
  }

  &__title {
    overflow-wrap: break-word;
    width: 192px;
  }

  &__img {
    object-fit: cover;
  }
}

.info {
  &__title {
    font-size: 20px;
    margin: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__desc {
    margin: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__date {
    margin-right: 25px;
    white-space: nowrap;
  }
}

.articles {
  width: 80%;

  &__item {
    margin-bottom: 30px;
  }
}

.article-short {
  height: 600px;
  border: 1px solid grey;
  border-radius: 5px;

  &__title {
    font-size: 25px;
    padding: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__img {
    padding: 0 30px;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 3px;
    }
  }

  &__bottom {
    padding-top: 30px;
    justify-content: space-between;
  }

  &__desc {
    padding: 0 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__continue {
    padding: 0 30px;
    white-space: nowrap;
  }
}

.aside {
  border: 1px solid grey;
  // background-color: rgb(248, 248, 248);
  width: 287px;

  height: fit-content;

  margin-left: 30px;
  margin-bottom: 10px;
  padding: 10px;

  .addNewEvent {
    border: none;
    background-color: #fff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

    &:hover {
      color: rgba($color: #000000, $alpha: 0.6)
    }
  }

  label {
    display: block;
  }

  &__search {
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;

    img {
      position: absolute;
      left: 5px;
      top: 15px;
    }
  }

  &__input {
    width: calc(100% - 30px);
    height: 20px;
    padding-left: 25px;
  }

  fieldset {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1.5px solid grey;

    label {
      margin-bottom: 5px;
    }
  }

  .tab input,
  .tab-content {
    display: none;
  }

  .tab :checked~.tab-content {
    display: block;
  }

  &__item {
    padding: 10px;
  }

  .tab {
    position: relative;

    label {
      cursor: pointer;
    }

    label::after {
      content: '▼';
      position: absolute;
      right: 10px;
    }
  }

  .tab :checked+label::after {
    content: '▲';
  }

  .tab-content {
    ul {
      margin-top: 10px;
      list-style-type: none;
      flex-wrap: wrap;
    }

    li {
      margin-left: 5px;

      a {
        color: blue;
      }
    }
  }

  &__button {
    border: none;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    justify-self: center;
    cursor: pointer;

    &:hover {
      filter: invert(100%)
    }
  }
}

.article {
  font-size: 18px;
  width: 100%;

  &__info {
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    justify-content: center;
  }

  &__body {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
    width: 100%;

    >div:last-child {
      text-align: center;
      width: 40%;
    }

    >div:last-child.add__desc {
      text-align: left;
      width: 100%;
    }

    >div:last-child.add__button {
      width: 100%;
    }
  }

  &__date {
    text-align: end;
    position: relative;
    font-size: 15px;

    ul {
      position: absolute;
      top: 30px;
      right: 0;
      width: 120px;
      height: 90px;
      box-shadow: 0 0 10px #000;
      border: #000;
      border-radius: 10px;
      background-color: #fff;
      transition: opacity .6;

      li {
        display: flex;
        justify-content: center;
        height: 45px;

        button {
          font-family: inherit;
          font-size: 16px;

          &:hover {
            color: rgba($color: #000000, $alpha: 0.6)
          }
        }
      }
    }

    p {
      display: inline;
    }
  }

  &__img {
    margin-right: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
  }

  &__loadEvent {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    font-family: inherit;
    border: 1px solid black;
    border-radius: 10px;
    font-size: inherit;

    &:hover {
      filter: invert(100%);
    }
  }

  &__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;

  // padding: 1rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 260px);
  width: 100%;

  .contact-wrapper {
    background: #fff;
    box-shadow: 0px 0px 7px rgba(#424A60, .35);
    border-radius: .75em;
    padding: 2em;
    width: 25em;
  }

  .login-cta {
    &>h2 {
      color: #7383BF;
      font-size: 1.75rem;
      text-align: center;
    }
  }

  form {
    margin: 2em 0;

    &>.form-row {
      display: flex;
      margin: .75em 0;
      position: relative;

      &>span {
        background: #fff;
        color: #9597ae;
        display: inline-block;
        font-weight: 400;
        left: 1em;
        padding: 0 .5em;
        position: absolute;
        pointer-events: none;
        transform: translatey(-50%);
        top: 50%;
        transition: all 300ms ease;
        user-select: none;
      }

      &>input,
      &>button {
        border-radius: .5em;
        font-family: inherit;
        padding: 1em .5em;
        width: 100%;
      }

      &>button {
        background-color: #EBBA16;
      }

      &>input {
        font-weight: bold;
        transition: 100ms ease all;
        width: 100%;

        &[type=text],
        &[type=password] {
          border: .075em solid #ddd;
        }

        &:valid {
          &+span {
            top: 0;
            font-size: .90rem;
          }
        }

        &:invalid {
          &+span {
            top: 50%;
          }
        }

        &:focus {
          &+span {
            top: 0;
          }
        }

        &:required {
          box-shadow: none;
        }

        &:focus {
          border-color: #EBBA16;
          outline: none;

          &:invalid {
            box-shadow: none;
            top: 50%;
          }

          &:valid {
            top: 0;
          }
        }
      }
    }
  }
}

.add {
  width: 100%;

  &__title {
    margin: 5px 0 20px 0;
    font-size: 20px;
  }

  &__info {
    justify-content: space-between;
    // align-items: center;
    flex-direction: row;
  }

  &__inputs,
  &__labels {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 44px;
    // margin-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    height: 245px;
    text-align: left;
  }

  &__inputs {
    max-width: 209px;

  }

  &__input {
    border: none;
    border-bottom: 1.5px solid darkgray;
  }

  &__desc {
    margin-top: 28px;

    // label {
    //   // text-align: left;
    //   margin-bottom: 13px;
    // }
    textarea {
      max-width: 100%;
      width: 100%;
      height: 153px;
      resize: none;
      margin-top: 13px;
    }
  }

  &__button {
    justify-content: flex-end;
  }
}